@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

// color
.bg-tut{
    background-color: #fff4ff;
}

// Width
.w-px-100{
    width: 100px;
}

// Height
.h-px-50{
    height: 50px !important;
}


// padding
.py-24{
    padding: 24px 0 !important;
}

// border

.border-b-ebb{
    border-bottom: 1px solid rgb(89, 88, 88);
}


// Buttons

.white-btn {
    color: green !important;
    background-color: white ;
    border-color: green !important;
}

.white-btn-hover {
    &:hover {
        color: white !important;
        background-color: green ;
        border-color: green ;
    }

}
.green-btn {
    color: white !important;
    background-color: green !important;
    border-color: green ;
}

.red-btn {
    color: white !important;
    background-color: rgb(255, 3, 3) !important;
    border-color: rgb(255, 3, 3) !important;
}

.yellow-btn {
    color: black;
    background-color: yellow !important;
    border-color: yellow !important;
}
