@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

// Buttons

.white-btn {
    color: green !important;
    background-color: white !important;
    border-color: green !important;
}

.white-btn-hover {
    &:hover {
        color: white !important;
        background-color: green !important;
        border-color: green !important;
    }

}
.green-btn {
    color: white !important;
    background-color: green !important;
    border-color: green !important;
}

.red-btn {
    color: white !important;
    background-color: rgb(255, 3, 3) !important;
    border-color: rgb(255, 3, 3) !important;
}

.yellow-btn {
    color: black !important;
    background-color: yellow !important;
    border-color: yellow !important;
}
